<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div id="app"> 
    
    <div id="pokemons" v-for="pokemon in pokemons">
        <div class="pokemon">
            <h2> Titre : {{pokemon.Nom_Pokemon}} </h2>
            <p> Type1 : {{pokemon.type1}} </p>
            <p v-if="pokemon.type2 != 'Null'"> Type2 : {{pokemon.type2}} </p>
            <p> Génération : {{pokemon.Génération}} </p>
            <pre>
                                                           
                            _,.------....___,.' ',.-.
                         ,-'          _,.--\"        |
                       ,'         _.-'              .
                      /   ,     ,'                   `
                     .   /     /                     ``.
                     |  |     .                       \\.\\
           ____      |___._.  |       __               \\ `.
         .'    `---\"\"       ``\"-.--\"'`  \\               .  \\
        .  ,            __               `              |   .
        `,'         ,-\"'  .               \\             |    L
       ,'          '    _.'                -._          /    |
      ,`-.    ,\".   `--'                      >.      ,'     |
     . .'\\'   `-'       __    ,  ,-.         /  `.__.-      ,'
     ||:, .           ,'  ;  /  / \\ `        `.    .      .'/
     j|:D  \\          `--'  ' ,'_  . .         `.__, \\   , /
    / L:_  |                 .  \"' :_;                `.'.'
    .    \"\"'                  \"\"\"\"\"'                    V
     `.                                 .    `.   _,..  `
       `,_   .    .                _,-'/    .. `,'   __  `
        ) \\`._        ___....----\"'  ,'   .'  \\ |   '  \\  .
       /   `. \"`-.--\"'         _,' ,'     `---' |    `./  |
      .   _  `\"\"'--.._____..--\"   ,             '         |
      | .\" `. `-.                /-.           /          ,
      | `._.'    `,_            ;  /         ,'          .
     .'          /| `-.        . ,'         ,           ,
     '-.__ __ _,','    '`-..___;-...__   ,.'\\ ____.___.'
     `\"^--'..'   '-`-^-'\"--    `-^-'`.''\"\"\"\"\"`.,^.`.--' 
    
    
            </pre>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="JS/vue.global.js" ></script>
<script src="JS/main.js" defer></script>


</body>
</html>